html, body {
    width: 100%
}

.commit-stats {
    text-align: right;
}

.commit-stats .label {
    margin-left: 5px
}

.label {
    margin-left: 5px
}

table {
    width: 100%
}

table td, table th {
    word-wrap: break-word;
}

.avatar {
    display: block;
    float: left;
    margin-right: 10px;
}

#issue-comments-table .avatar img {
    border-radius: 5px
}

#issue-comments-table .avatar .label {
    display: block;
    margin-top: 5px;
    line-height: normal;
    text-align: center;
}

#issue-comments-table h3 {
    font-size: 15px;
    line-height: normal;
    margin-bottom: 10px
}

#issue-comments-table .comment-details {
    margin-left: 50px;
    max-width: 91%;
}

#commit-table .avatar {
    width: 25px;
}

