<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>GitosHost</key>
	<string>http://thawing-crag-8872.herokuapp.com</string>
	<key>GithubApiHost</key>
	<string>https://api.github.com</string>
	<key>GithubRawHost</key>
	<string>https://raw.github.com</string>
	<key>KeychainName</key>
	<string>GitosKeychain</string>
	<key>KeychainAccountName</key>
	<string>gitos</string>
</dict>
</plist>
